
body {
    display: inline-block;
    min-width: 100%;
}

.title {
    text-align: center;
}

.invalid-feedback {
    position: absolute;
}

.formGroup {
    width: 100%;
    margin-bottom: 30px;
}

.flexRowCenter {
    display: flex;
    justify-content: center;
}

#navbar {
    height: 60px;
    flex-wrap: nowrap;
    display: inline-flex;
    min-width: 100%;
}

#navbar_left {
    display: flex;
    flex: 1;
}

#navbar_right {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

#navbar_right a {
    display: block;
    text-decoration: none;
    color: #fff;
    margin: 10px;
}

#brand_name {
    display: inline-flex;
    align-items: center;
    height: inherit;
    font-weight: bold;
}

#brand_logo {
    position: relative;
    top:10px;
}

#newPatientForm {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
}

#form_submit {
    align-self: stretch;
}

#insuranceNumber {
    text-transform: uppercase;
}