<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script type="module" src="/js/app.js"></script>

    <title>Registration</title>
</head>

<body>
    <section th:replace="./navbar"></section>
    
    <div class="flexRowCenter">
        <form class="" id="newPatientForm" th:action="@{/user}" th:object="${user}" method="post" novalidate>
            <div class="formGroup">
                <label for="username">Username</label>
                <input type="text" class="form-control" name="username" id="username" th:field="*{username}">
                <div class="invalid-feedback">Required and must be between 0 - 30 characters long.</div>
            </div>

            <div class="formGroup">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" id="password" th:field="*{password}"> 
                <div class="invalid-feedback">Required and must be 8 characters or longer including an upper case letter and a special character '!', '@', '#', '$', '%', '^', '&'.</div>
            </div>
            
            <div class="formGroup">
                <label for="firstName">FirstName</label>
                <input type="text" class="form-control" name="firstName" id="firstName" th:field="*{firstName}">
                <div class="invalid-feedback">Required.</div>
            </div>
            
            <div class="formGroup">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" name="lastName" id="lastName" th:field="*{lastName}">
                <div class="invalid-feedback">Required.</div>
            </div>
            
            <div class="formGroup">
                <label for="email">Email Address</label>
                <input type="text" class="form-control" name="email" id="email" th:field="*{email}">
                <div class="invalid-feedback">Invalid email. Valid email example: user@gmail.com</div>
            </div>
            
            <div class="formGroup">
                <label for="insuranceNumber">Insurance Number</label>
                <input type="text" class="form-control" name="insuranceNumber" id="insuranceNumber" th:field="*{insuranceNumber}">
                <div class="invalid-feedback">Invalid Health Insurance Number. See <a target="_blank" rel="noopener noreferrer" href="http://www.ramq.gouv.qc.ca/en/citizens/health-insurance/health-insurance-card/Pages/description.aspx" tabindex="-1">ramq</a> for help.</div>
            </div>
            
            <input type="submit" id="form_submit" class="btn-primary btn-lg" value="Submit">
        </form>
    </div>
</body>

</html>