<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script type="module" src="/js/app.js"></script>

    <title>Nuxalk</title>
</head>

<body>
    <section th:replace="./navbar"></section>

    <h3 class="title">Scheduling</h3>


<!--    <label for="start">Start date:</label>-->

<!--    <input type="date" id="start" name="trip-start"-->
<!--           value="2018-07-22" th:value="${localDate}"-->
<!--           th:min="${localDate}">-->

<!--    <label for="appt">Choose a time for your meeting:</label>-->

<!--    <input type="time" id="appt" name="appt"-->
<!--           min="08:00" max="18:00" required>-->

    <small>Office hours are 9am to 6pm</small>

    <div class="flexRowCenter">
        <form id="newBookingForm" th:action="@{/booking}" th:object="${booking}" method="post">
            <label for="start">Start date:</label>
            <input type="date" id="start" name="booking-start" th:value="${localDate}" th:min="${localDate}" th:field="*{date}">
            <label for="booking">Choose a time for your meeting:</label>
            <input id="booking" max="18:00" min="08:00" name="appt" th:field="*{time}" th:value="${timestamp}"
                   type="time" value="13:30">
            <input type="submit" class="btn-primary" value="Submit">
        </form>
    </div>


<!--    <table>-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th> User name </th>-->
<!--            <th> Insurance Number </th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr th:if="${listOfUsers.empty}">-->
<!--            <td colspan="2"> No Users Available </td>-->
<!--        </tr>-->
<!--        <tr th:each="user : ${listOfUsers}">-->
<!--            <td><span th:text="${user.username}"> User name </span></td>-->
<!--            <td><span th:text="${user.insuranceNumber}">  Insurance Number </span></td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->

</body>

</html>